<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
  </head>
  <body>
    <main class="container_main">
      <form action="">
        <label for="title">Title</label>
        <input type="text" />

        <label for="description">description</label>
        <input type="text" />

        <label for="content">content</label>
        <input type="text" />
      </form>
    </main>

    <footer><%- include('./partials/footer')%></footer>
  </body>
</html>
