<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
  </head>
  <body>
    <main class="container_main">
      <p>Welcome, yout thoughts counts.!!!</p>
      <% notes.forEach((note) => { %>
      <div class="note_container">
        <h4><%= note.title %></h4>
        <p><%= note.description %></p>
      </div>
      <% }) %>
    </main>

    <footer><%- include('./partials/footer')%></footer>
  </body>
</html>
