<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
  </head>
  <body>
    <main class="container_main">
      <div class="container_head">
        <p>Welcome, yout thoughts counts.!!!</p>
        <a href="notes/createNote">
          <button class="btn" type="button">Create Note</button>
        </a>
      </div>
      <% notes.forEach((note) => { %>
      <div class="note_container">
        <h4><%= note.title %></h4>
        <p><%= note.description %></p>
      </div>
      <% }) %>
    </main>

    <footer><%- include('./partials/footer')%></footer>
  </body>
</html>
