<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
  </head>
  <body>
    <main>
      <p>Welcome, yout thoughts counts.!!!</p>
    </main>

    <footer><%- include('./partials/footer')%></footer>
  </body>
</html>
